@import url(https://use.fontawesome.com/releases/v5.3.1/css/all.css);


.yelda_assistant_img {
  cursor: pointer;
  height: auto;
  transition: opacity 0.6s ease-in-out 1.2s, height 1ms linear 1.2s;
  animation-name: appear;
  animation-duration: 0.8s;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-iteration-count: 1;
  animation-fill-mode: both;
  opacity: 0;
  overflow: hidden;
}

.yelda_container.y_active .yelda_assistant_img{
  opacity:0 ;
  height: 0 !important;
  width: 0 !important;
  transition: opacity 1ms linear 0s, height 1ms linear 0s;
  animation: none;
}

.yelda_assistant_img.activated{
  transition: opacity 0.6s ease-in-out 0.6s, height 1ms linear 0.6s;
}

.yelda_assistant_img.default {
  box-shadow: 0 5px 10px rgba(0,0,0,.16);
  text-align: center;
  color: white;
  font-size: 32px;
  line-height: 64px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #17a3d8; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #17a3d8 0%, #1f60f2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #17a3d8 0%,#1f60f2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #17a3d8 0%,#1f60f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17a3d8', endColorstr='#1f60f2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.yelda_assistant_img.custom {
  height: auto;
  width: auto;
}

.yelda_assistant_img.custom img {
  max-height: 100%;
  max-width: 100%;
}

.yelda_assistant_img.default i{
  height: 60px;
  width: 60px;
  line-height: 65px;
  font-size: 35px !important;
}




.yelda_container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: normal;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.yelda_container.inner {
  position: absolute !important;
  left: 45px;
  top: 80px;
}

#web_chat_frame{
  height: 100% !important;
  width: 100% !important;
}

.yelda_container:not(.inner) {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2147483647;
}

.yelda_iframe_container {
  width: 0;
  height: 0;
  max-height: 600px;
  margin: 0;
  overflow: hidden;
  transition: opacity 0.6s linear 0s, transform 0.6s ease-in-out 0s, height 1ms linear 0.6s, width 1ms linear 0.6s;
  opacity: 0;
  transform: translateY(20px);
}

.yelda_iframe_container:not(.voiceFirstUI) {
  box-shadow: 0 5px 32px rgba(0,0,0,.16);
  border-radius: 6px;
}

.y_active .yelda_iframe_container{
  width: 430px;
  height: calc(100vh - 170px);
  transition: opacity 0.6s linear 0s, transform 0.6s ease-in-out 0s, height 1ms linear 0s, width 1ms linear 0s;
  opacity: 1 !important;
  transform: translateY(0);
}

.lg-backdrop {
  z-index: 10000000000 !important;
}

.lg-outer {
  z-index: 10000000001 !important;
}

/* Desktop and Media Query for low resolution  Tablets, Ipads */
@media only screen and (min-width: 768px) {

}

/* Mobile screen and Media Query for Tablets Ipads portrait mode */
@media only screen and (max-width: 768px) {

  .yelda_container:not(.inner) {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 2147483647;
  }

  .y_active .yelda_iframe_container{
    width: 100%;
  }

  .yelda_iframe_container:not(.inner) {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: auto;
    max-height: none;
    border-radius: 0;
    margin: 0 !important;
    padding: 0;
  }



  .yelda_iframe_container.inner {
    width: 100%;
    box-shadow: 0 5px 32px rgba(0,0,0,.16);
    border-radius: 6px;
    margin: 0px 20px 0 0px;
    overflow: hidden;
  }
}
/** CSS for assistant bubble text */
#yelda_assistant_bubble_text {
  animation-name: fadeAndSlideInFromRight;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-iteration-count: 1;
  animation-fill-mode: both;
  padding: 7px 10px 6px;
  border-radius: 8px;
  box-shadow: #00000030 0 2px 8px 0;
  background-color: white;
  cursor: pointer;
  right: 0;
  bottom: 76px;
  max-width: 300px;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 10px;
}
#yelda_assistant_bubble_text.y_notification{
  animation-delay: 0s;
}

#yelda_assistant_bubble_text.hidden {
  display: none;
}

.y_active #yelda_assistant_bubble_text{
  display: none;
}

/* Close button for bubble text */
.bubbleCloseButton {
  position: absolute;
  color: white;
  background: grey;
  border-radius: 68%;
  padding: 0;
  font-size: 20px;
  width: 27px;
  height: 27px;
  line-height: 22px;
  text-align: center;
  right: -14px;
  top: -17px;
  text-decoration: none !important;
  transition: all 0.15s ease-in;
  transform: scale(0.7);
  opacity:0; /* Don't show the close button by default */
}

a.bubbleCloseButton:hover {
  color: white;
  background: #5a5a5a;
}

/* Show the close button on mouse hover */
#yelda_assistant_bubble_text:hover .bubbleCloseButton {
  opacity:1;
  transform: scale(1);
}

/* Show the close button always on mobile screen */
@media only screen and (max-width: 768px) {
  .bubbleCloseButton {
    opacity: 1;
    transform: none;
  }
}

/** Animation for assistant bubble text */
@keyframes fadeAndSlideInFromRight {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}


@keyframes appear {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

